.sidebar {
    margin: 0;
    padding: 0;
    color: rgb(100, 100, 100);
    background-color: #ff0000;
    height: 100%;
    overflow: auto;
    font-family: sans-serif;
    font-size: 20px;
}

.sidebar a {
    display: block;
    color: rgb(120, 0, 0);
    font-size: 25px;
    font-weight: 600;
    padding: 15px;
    margin-left: 15px;
    text-decoration: none;
}

.sidebar a.active {
    color: rgb(255, 255, 255);
}

.sidebar a:hover:not(.active) {
    color: rgb(64, 0, 0);
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: right;
    }

    .sidebar a {
        float: right;
    }

    div.content {
        margin-right: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

footer {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 3px;
    background-color: rgb(0, 0, 0);
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}